<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="styles.css">
        <script src="./../store/store.js"></script>
        <script src="TODO.js"></script>
        <title>TODO</title>
    </head>
    <body onload="populateTodos()">
        <div class="container">
            <div class="header">
                <span>Item</span>
                <span>State</span>
                <span></span>
            </div>
            <div id="list" class="list">
            </div>
        </div>
        <div>
            <input type="text" id="todoName" name="todoName" /><br />
            <button type="button" onclick="addTodo()">Add Todo</button>
        </div>
    </body>
</html>
